@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JosefinSans";
  font-weight: 400;
  src: url("./assets/fonts/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "JosefinSans";
  font-weight: 700;
  src: url("./assets/fonts/JosefinSans-Bold.ttf");
}
