@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JosefinSans";
  font-weight: 400;
  src: url("./assets/fonts/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "JosefinSans";
  font-weight: 700;
  src: url("./assets/fonts/JosefinSans-Bold.ttf");
}

@layer base {
  main[data-theme="light"] {
    --Primary: #3a7bfd;
    --Gradient1: #57ddff;
    --Gradient2: #c058f3;
    --BackgroundApp: #fafafa;
    --BackgroundTodo: white;
    --TextParagraph: #484b6a;
    --TextButton: #9394a5;
    --Border: #d2d3db;
  }
  main[data-theme="dark"] {
    --Primary: #3a7bfd;
    --Gradient1: #57ddff;
    --Gradient2: #c058f3;
    --BackgroundApp: #161722;
    --BackgroundTodo: #25273c;
    --TextParagraph: #cacde8;
    --TextButton: #777a92;
    --Border: #4d5066;
  }
}

/* colors: {
  "primary-1": "#3a7bfd",
  "primary-2": "#57ddff",
  "primary-3": "#c058f3",
  "light-1": "#fafafa",
  "light-2": "#e4e5f1",
  "light-3": "#d2d3db",
  "light-4": "#9394a5",
  "light-5": "#484b6a",
  "dark-1": "#161722",
  "dark-2": "#25273c",
  "dark-3": "#cacde8",
  "dark-4": "#e4e5f1",
  "dark-5": "#777a92",
  "dark-6": "#4d5066",
  "dark-7": "#393a4c",
}, */
